body {
    background:  background-color: #9370DB;
    font-family: 'Lucida', Lucida Bright;
    color: #000000; /* black */
}

nav {
    background-color: #FFD700; /* gold */
}

nav a {
    color: #9370DB; /* light purple */
}

header, h1, h2 {
    font-family: 'Lucida', Lucida Handwriting;
    font-weight: bold;
}

p {
    font-family: 'Calibri', Calibri Light;
}

}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    margin: 20px 0;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px auto; /* Center and add margin */
}

a:hover {
    text-decoration: underline;
}

footer {
    text-decoration: underline;
}
