body {
    background-color: #e6e6fa; /* Light Purple background */
    color: #4b0082; /* Complimentary font color */
    font-family: Arial, sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kunstler Script Bold', cursive;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    margin: 20px 0;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px auto; /* Center and add margin */
}

a {
    color: #4b0082; /* Complimentary link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
